<div class="edit">
<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
<table calss ="edit_table">
  <tr>
  <div class="field">
    <td><%= f.label :user_name, "名前" %></td>
    <th><%= f.text_field :user_name, :placeholder => "User name"%></th>
  </div>
  </tr>

  <tr>
  <div class="field">
    <td><%= f.label :company_number, "社員番号" %></td>
    <th><%= f.number_field :company_number, :placeholder => "6桁の社員番号を入力してください"%></th>
  </div>
  </tr>

  <tr>
  <div class="field">
    <td><%= f.label :email ,"連絡先" %></td>
    <th><%= f.email_field :email, autofocus: true, :placeholder => "email" %></th>
  </div>
  </tr>

  <tr>
  <div class="field">
    <td><%= f.label :kanji, "幹事"%></td>
    <th><%= f.check_box :kanji %> 幹事の方はチェックをお願いします</th>
  </div>
  </tr>

  <tr>
  <div class="field">
    <td><%= f.label :gender, "性別"%></td>
    <th><%= f.check_box :gender %> 男性の方はチェックをお願いします</th>
  </div>
  </tr>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <tr>
  <div class="field">
    <br />
    <td><%= f.label :password, "新しいパスワード"%> <%# <i>(leave blank if you don't want to change it)</i> %></td>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %> <%# <br /> %>
    <th><%= f.password_field :password, autocomplete: "off", :placeholder => "Password (6minimum characters)" %></th>
  </div>
  </tr>

  <tr>
  <div class="field">
    <br />
    <td><%= f.label :password_confirmation, "新しいパスワード(確認用)"%></td>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><%# <br /> %>
    <th>
      <%= f.password_field :password_confirmation, autocomplete: "off", :placeholder => "Password (6minimum characters)" %>
    </th>
  </div>
  </tr>

  <tr>
  <div class="field">
    <br />
    <td><%= f.label :current_password, "現在のパスワード" %></td>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><%# <br /> %>
    <th>
      <%= f.password_field :current_password, autocomplete: "off", :placeholder => "Password (6minimum characters)" %>
    </th>
  </div>
  </tr>
</table>
  <br/>
  <div class="actions">
    <%= f.submit "変更を保存" %>
  </div>

<% end %>

<br/>
<h3>アカウント消去</h3>

<p> <%= button_to "アカウント消去", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
</div>