<div class="signup">
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

<ul calss ="signup_table">

  <li>
  <div class="field">
    <label><%= f.label :user_name, "名前" %></label>
    <%= f.text_field :user_name, :placeholder => "User name" , :size=>"27"%>
  </div>
  </li>

  <li>
  <div class="field">
    <label><%= f.label :company_number, "社員番号" %></label>
      <%= f.number_field :company_number, :placeholder => "6桁の社員番号を入力してください",:maxlength =>"6" , :size=>"27" %>
  </div>
  </li>


  <li>
  <div class="field">
    <label><%= f.label :email ,"連絡先" %></label>
      <%= f.email_field :email, autofocus: true, :placeholder => "email" , :size=>"27" %>
  </div>
  </li>

  <li>
  <div class="field">
    <label><%= f.label :kanji, "幹事"%></label>
    <%= f.check_box :kanji %> 幹事の方はチェックをお願いします
  </div>
  </li>

  <li>
  <div class="field">
    <label><%= f.label :gender, "性別"%></label>
    <%= f.check_box :gender %> 男性の方はチェックをお願いします
  </div>
  </li>

  <li>
  <div class="field">
    <br />
    <label><%= f.label :password, "新しいパスワード"%></label>
    <% if @minimum_password_length %>
    <% end %> <%# <br /> %>
      <%= f.password_field :password, autocomplete: "off", :placeholder => "Password (6minimum characters)" , :size=>"27" %>
  </div>
  </li>

  <li>
  <div class="field">
    <br />
    <label><%= f.label :password_confirmation, "パスワード(確認用)" %></label>
      <%= f.password_field :password_confirmation, autocomplete: "off",
                           :placeholder => "Password (6minimum characters)" , :size=>"27" %>
  </div>
  </li>

</ul>


  <br/>
<div class="signup_act">
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
</div>
<% end %>
<div class="signup_buck">
<%= render "devise/shared/links" %>
</div>
</div>