<p id="notice"><%= notice %></p>

<h1>イベント一覧</h1>

<table class="table">
  <thead>
    <tr>

      <th>日にち</th>
      <th>時間</th>
      <th>参加人数</th>
      <th>イベント名</th>
      <th>場所</th>
      <th>締め切り</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>

    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.event_date %></td>
        <td><%= event.event_time.strftime("%I:%M ~ ") %></td>
<<<<<<< HEAD
=======
        <td><%= event.event_time%></td>

>>>>>>> 507148f721de2ce7e768b0691fe0f92d45e15c1b
        <td><%= event.event_numofpeople %></td>
        <td><%= event.event_name %></td>
        <td><%= event.event_place %></td>
        <td><%= event.event_deadline %></td>

        <td><%= link_to '詳細', event %></td>
        <td><%= link_to '編集', edit_event_path(event) %></td>
        <td><%= link_to '削除', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
