<p id="notice"><%= notice %></p>

<p>
  <h1>
  <%= @event.event_name %>
   </h1>
</p>

<table  class="de_table">
<tr>
  <th>日程</th>
  <td><%= @event.event_date %></td>
</tr>
<tr>
  <th>時間</th>
  <td><%= @event.event_time.strftime("%I:%M ~ ") %></td>
</tr>
  <tr>
  <th>場所</th>
  <td><%= @event.event_place %></td>
</tr>
<tr>
  <th>参加可能人数</th>
  <td><%= @event.event_numofpeople %>人</td>
</tr>
<tr>
  <th>費用</th>
  <td><%= @event.event_money %>円</td>
</tr>
<tr>
  <th>締め切り日時</th>
  <td><%= @event.event_deadline %></td>
</tr>
<tr>
  <th>幹事</th>
  <td></td>
</tr>
<tr>
  <th>連絡先</th>
  <td></td>
</tr>
</table>


<dl class="coment">
  <dt>イベント内容</dt>
  <dd><%= @event.event_contents %></dd>
</dl>

<br />

<%= link_to '参加', [:participate, @event] , method: :post, class: "btn btn-primary"%>

<% if current_user.kanji == true %>
<%= link_to '編集', edit_event_path(@event) %>
<% end %>
<%= link_to '戻る', events_path %>
