<p id="notice"><%= notice %></p>

<p>
  <h1>
  <%= @event.event_name %>
   </h1>
</p>

<dl  class="de_list">

  <dt>日時</dt>
  <dd><%= @event.event_date %></dd>

  <dt>場所</dt>
  <dd><%= @event.event_place %></dd>

  <dt>参加人数</dt>
  <dd><%= @event.event_numofpeople %></dd>

  <dt>締め切り日時</dt>
  <dd><%= @event.event_deadline %></dd>
  
</dl>


<div class="coment">
  <h4>イベント内容</h4>
  <%= @event.event_contents %>
</div>

<br />
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
